
.Display
{
    width:290px;
    height:80px;
    padding:0px;
    background-color:grey;
    font-weight: bold;
} 
.elements
{   
    padding-top: 2px;
    padding-right:2px;
     padding-bottom:2px;
     padding-left: 2px;
}
.num
{
    width:70px;
    height:48px;
    background-color: aqua;
}
.ch
{
    width:70px;
    height:48px;
    background-color: aqua;
}
